html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#headerContent ul li a {
	text-decoration: none;
    float: left;
	color: #e6e6e6;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
#headerContent ul li a:hover {
	color: white;
	transition: 0.6s;
}
#header {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 100;
	position: absolute;
}
#map {
	height: 100%;
	overflow: visible;
}

/*DESKTOP*/
@media screen and (min-width: 640px) {
#header {
	height: 100px;
}
#headerContent{
	min-width: 640px;
	max-width: 1200px;
	margin:auto;
}
#headerContent img {
	height: 86px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;
}
#headerContent ul {
	margin-top: 57px;
	float: right;
	display: block;
	list-style-type: none;
	color: #e6e6e6;
}

#headerContent ul li a {
	padding: 0.2em 0.6em;
	font-size: 20px;
}
}

/*MOBILE*/
@media screen and (max-width: 640px) {
html, body {
	height: 100%;
}
#header {
	height: 64px;
}
#headerContent{
	min-width: 280px;
	max-width: 100%;
	margin:auto;	
}
#headerContent img {
	height: 45px;
	margin-top: 10px;
	margin-left: 4px;
	float: left;
}
#headerContent ul {
	margin-top: 36px;
	margin-right: 2px;
	margin-bottom: 0;
	float: right;
	display: block;
	list-style-type: none;
	color: #e6e6e6;
	padding: 0;
}

#headerContent ul li a {
	font-size: 14px;
}
}