body{
	background-color:white;
}

#container{
	width:100%;
	margin-right: auto;
	margin-left:auto;

}

#header{
	background-color: white;
	height:100px;
}

#info{
	color:rgb(112,112,112);
	float:right;
	margin-top:-10px;
	width:800px;
	margin-left: 0px;
	margin-right:40px;
	font-size: 30px;
}
#logo{
	float:left;
	width:100px;
	margin-top:0px;
	margin-left:-40px;
}

#indent{
	text-indent: 3.0em;
}
#background{
	background-color:rgb(204,204,204);
	height:650px;
	clear:both;
}
#background img{
	margin-left:-80px;
}
#map{
	background-color:rgb(176,176,176);
	margin-top:-10px;
	height:500px;
}
#map img{
	margin-left:50px;
	margin-top:20px;
}

