<?xml version="1.0"?>
<configuration>
   <system.webServer>
      <defaultDocument enabled="true">
         <files>
            <clear/>
            <add value="home.html"/>     
         </files>
      </defaultDocument>
      <modules runAllManagedModulesForAllRequests="true"/>
   </system.webServer>
</configuration>
